/* Colors
blue = #3355b3
*/

/* Color texto seleccionado */
/* webkit, opera, IE9 */
::-moz-selection {
background: #3355b3;
}
/* webkit, opera, IE9 */
::selection {
background: #3355b3;
}

@font-face {
    font-family: 'Meta';
    src: url('../fonts/MetaBook-Roman/MetaBooRom.eot');
    src: url('../fonts/MetaBook-Roman/MetaBooRom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetaBook-Roman/MetaBooRom.woff') format('woff'),
         url('../fonts/MetaBook-Roman/MetaBooRom.svg#officinasansnormalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Meta';
    src: url('../fonts/MetaBold-Roman/MetaBolRom.eot');
    src: url('../fonts/MetaBold-Roman/MetaBolRom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetaBold-Roman/MetaBolRom.woff') format('woff'),
         url('../fonts/MetaBold-Roman/MetaBolRom.svg#officinasansnormalregular') format('svg');
    font-weight: bold;
    font-style: normal;
}


/* HTML */
body {
    color: #fff;
    font-family: 'Meta', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

ul {padding-left: 20px;}

/* Structure */
.columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    -ms-column-gap: 50px;
    -o-column-gap: 50px;
    column-gap: 50px;
}
.columns p,
.columns ul {margin: 0 0 1em 0;}

/* Logo */
.logo-omo {
    display: none;
    left: 50%;
    margin: 0 0 0 -45px;
    position: absolute;
    z-index: 1002;
}

/* Full screen */
.btn-full-screen, .btn-share {
    background: url(../img/assets/sprite.png) no-repeat -68px 0;
    display: none;
    height: 33px;
    position: absolute;
    right: 0;
    top: 20px;
    width: 36px;
    z-index: 1005;
}
.btn-full-screen:hover {background-position: -68px -132px;}
.btn-share {
    background: url(../img/assets/sprite.png) no-repeat -106px 0;
    display: block;
    right: 45px;
    top: 20px;
    width: 34px;
}
.iframe .btn-share {right: 20px; top: 26px;}
.btn-share:hover {background-position: -106px -33px;}

.btn-actions {position: absolute; margin: 0; padding: 0; top: 20px; right: 45px; z-index: 1005;}
.iframe .btn-actions {top: 26px; right: 20px;}
.btn-actions ul {
    display: none;
    margin: 0;
    padding: 0;
}
.btn-actions li {display: block; list-style: none; margin: 0; position: relative;}
.btn-actions li:hover ul {
    display: block;
}
.btn-actions li ul {
    top: 33px;
}
.btn-actions li li a {
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-top: 1px;
}
.btn-actions a {
    background: url(../img/assets/sprite.png) no-repeat;
    display: block;
    text-indent: -9999px;
    height: 33px;
    width: 33px;
}
.btn-actions .btn-actions-share {
    background-position: -105px 0;
    border-radius: 4px;
}
.btn-actions .btn-actions-share:hover {
    background-position: -105px -33px;
}
.btn-actions .btn-actions-facebook {
    background-position: -172px 0;
}
.btn-actions .btn-actions-facebook:hover {
    background-position: -172px -33px;
}
.btn-actions .btn-actions-twitter {
    background-position: -138px 0;
}
.btn-actions .btn-actions-twitter:hover {
    background-position: -138px -33px;
}

/* Reveal */
.reveal {position: relative; z-index: 1001;}
.iframe .reveal {height: 99.5%; margin-top: .5%;}
.reveal .slides {text-align: left;}

.reveal h2 {font-size: 2.27272727em; font-weight: bold; margin-bottom: 20px;}

.reveal .progress {position: absolute; background: #fff;}
.reveal .progress span {background: #3355b3;}

.reveal .reveal-article-content {
/*	font-size: 1.125em;*/
	opacity: 1;
	text-shadow: 1px 1px 1px #555;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
.reveal .present .reveal-article-content {pointer-events: auto;}
.reveal .reveal-article-content:hover {opacity: 1;}
.reveal .reveal-article-content p {margin: 0 0 1em 0}
.reveal .reveal-article-content li {margin: 0 0 10px 20px;}
.reveal .reveal-article-content footer {margin-top: 1em;}

.reveal .reveal-center-article {
    background: url(../img/assets/bg-article.png) no-repeat center center;
    height: 525px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}
.reveal .reveal-center-article .reveal-article-content {
    display: table;
    height: 100%;
    margin: 0 auto;
    padding: 0 80px;
    width: 660px;
}
.reveal .reveal-article-cell {display: table-cell; vertical-align: middle;}
.reveal .reveal-left-article .reveal-article-content {max-width: 45%;}
.reveal .reveal-article-content a {color: #fff;}

.reveal .reveal-left-article h2 {background: url(../img/assets/bg-title.png) no-repeat left bottom; padding-bottom: 20px;}

.reveal .controls {
    bottom: 25px;
    height: 33px;
    pointer-events: auto;
    position: absolute;
    right: 20px;
    width: 68px;
}
.reveal .controls div.enabled {opacity: 1;}
.reveal .controls > div {
    background: url(../img/assets/sprite.png) no-repeat;
    border: 0;
    height: 33px;
    opacity: .6;
    padding: 0;
    width: 34px;
}
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-left {top: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
.reveal .controls div.navigate-right {background-position: -34px -33px; left: 34px;}
.reveal .controls div.navigate-left {background-position: 0 -33px;}
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-down {opacity: 0; top: -33px;}

.reveal .controls div.navigate-right:hover {background-position: -34px -165px; }
.reveal .controls div.navigate-left:hover {background-position: 0 -165px;}

.date-left {position:absolute;left:0%;bottom:0px;padding-left:2.1em; z-index:9998;}
.date-right {position:absolute;left:50%;bottom:0px;padding-left:2.1em;  z-index:9998;}

.semi-article {
    cursor: pointer;
    padding: 5px !important;
}
.semi-article.active, .semi-article:hover {
    background: rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}


/* CartoDB */
.cartodb-visualization, .cartodb-splitter {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 1;
}
.cartodb-visualization.iframe,
.cartodb-splitter.iframe {
    top: .5%;
    height: 99.5%;
}
.cartodb-logo {display: none !important;}

div.cartodb-legend-stack {
position: absolute;
bottom: 70px;
right: 20px;
}


/* Leaflet */
.leaflet-bar {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.leaflet-bar a {border-bottom: 0;}
.leaflet-bar-part {border-bottom: 0;}
.leaflet-container .leaflet-control-zoom {margin-right: 90px; margin-top: 20px;}
.iframe .leaflet-container .leaflet-control-zoom {margin-right: 65px;}
.leaflet-control-zoom a {
    background: url(../img/assets/sprite.png) no-repeat;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: transparent;
    float: right;
    height: 33px;
    text-indent: -9999px;
    width: 34px;
}
.leaflet-bar a, .leaflet-bar a:hover {border-bottom: 0; height: 33px; width: 34px;}
.leaflet-bar a.leaflet-disabled {background-color: transparent;}
.leaflet-bar a:first-child {
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}
.leaflet-bar a:last-child {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
.leaflet-control-zoom .leaflet-control-zoom-in {background-position: -34px 0;}
.leaflet-control-zoom .leaflet-control-zoom-in:hover {background-position: -34px -132px; }
.leaflet-control-zoom .leaflet-control-zoom-out {background-position: 0 0;}
.leaflet-control-zoom .leaflet-control-zoom-out:hover {background-position: 0 -132px; }
.leaflet-control-zoom .leaflet-control-zoom-in:hover,
.leaflet-control-zoom .leaflet-control-zoom-out:hover {background-color: transparent;}


.leaflet-popup-tip-container {

    height: 10px!important;
    top: -80px;
}
.leaflet-popup-tip {

    margin: 3px auto 0 !important;

}

.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 5px;
}
.leaflet-left .leaflet-control-scale {
    margin-left: 15px;
}
.leaflet-right .leaflet-control-scale {
    margin-left: 25px;
}

/* Overlay */
.overlay {
    background: rgba(0, 0, 0, .85);
    display: none;
    height: 100%;
    font-size: 16px;
    left: 0;
    line-height: 1.2;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.overlay-content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.overlay-wrap {
    display: table;
    margin: 0 auto;
    height: 100%;
    width: 800px;
}

.overlay-article,
.overlay-quote {
    display: table-cell;
    vertical-align: middle;
}

.overlay-quote {font-size: 31px; font-style: italic; padding: 0;}
.overlay-quote article {margin: 30px 0;}
.overlay-quote p {margin-top: 0;}
.overlay-quote cite {
    display: block;
    font-size: 17px;
    font-style: normal;
}
.overlay a {color: #fff;}

.overlay-close-btn {
    background: url(../img/assets/sprite.png) no-repeat -68px -33px;
    color: transparent;
    display: block;
    height: 33px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    text-decoration: none;
    top: 2%;
    width: 36px;
    z-index: 99999;
}

.overlay-close-btn:hover {
    background: url(../img/assets/sprite.png) no-repeat -68px -165px;
}


/* Gallery */
.gallery-wrap {
    display: table;
    height: 435px;
    margin-top: -218px;
    position: absolute;
    top: 50%;
    -webkit-transition: left .5s ease;
    -moz-transition: left .5s ease;
    -ms-transition: left .5s ease;
    -o-transition: left .5s ease;
    transition: left .5s ease;
}
.gallery-panel {display: table-cell; padding: 0 7px; position: relative; vertical-align: top;}
.gallery-panel img {display: block; height: 435px; width: 652px;}
.gallery-panel .thumb {display: block; position: relative;}
.gallery-panel .play {position: absolute; top:50%; left: 50%; margin-top: -126px; margin-left: -126px; opacity: .5;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.gallery-panel .thumb:hover .play {opacity: 1;}
.gallery-panel .play img {height:235px; width:235px;}
.gallery-caption {width: 652px;}

.gallery-next,
.gallery-prev {
    background: url(../img/assets/sprite.png) no-repeat;
    color: transparent;
    height: 65px;
    margin-top: -32px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 65px;
}
.gallery-prev:hover {background-position: 0 -198px;}
.gallery-prev {left: 10px; background-position: 0 -66px;}
.gallery-next:hover {background-position: -65px -198px}
.gallery-next {right: 10px; background-position: -65px -66px;}

.gallery-viewer {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10005;
}


/* Buttons */
.reveal .reveal-btn {
    background: #3355B3 url(../img/assets/icon-play.png) no-repeat right;
    color: #fff;
    display: block;
    float: left;
    font-size: .833333em;
    letter-spacing: .2em;
    padding: 15px 40px 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.reveal .reveal-btn:hover {
    background: #fff url(../img/assets/icon-play_on.png) no-repeat right;
    color: #3355B3;
}
/*.reveal .reveal-btn:hover {background: #3355B3 url(../img/assets/icon-play.png) no-repeat right;}*/
.reveal .reveal-btn.quote,
.reveal .reveal-btn.video {
    background-color: #fff;
    color: #3355B3;
    text-shadow: none;
}
.reveal .reveal-btn.quote {
    background-image: url(../img/assets/icon-quote.png);
}
.reveal .reveal-btn.video {
    background-image: url(../img/assets/icon-video.png);
}
.reveal .reveal-btn.quote:hover {
    background-image: url(../img/assets/icon-quote_on.png);
    background-color: #3355B3;
    color: #fff;
}
.reveal .reveal-btn.video:hover {
    background-image: url(../img/assets/icon-video_on.png);
    background-color: #3355B3;
    color: #fff;
}

.footer8 .reveal-btn{

    margin-right: 10px;
    margin-bottom: 10px;}


/* Preload */
.preload {
    background: #222;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;
}

/* leaflet popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	}
.leaflet-popup-content {
	margin: 14px 20px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	margin: 0 auto;
	width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
	}
.leaflet-popup-tip {
	width: 15px;
	height: 15px;
	padding: 1px;

	margin: -8px auto 0;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: #333;

	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 5px 0 0;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px 'Meta', Arial, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}
        
.leaflet-control-scale-line {
        border: 0px solid #777;
        border-top: none;
        color: #333;
        line-height: 1.1;
        padding: 2px 5px 1px;
        font-size: 10px;
        text-shadow: 0px 0px 0px #333;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
        white-space: nowrap;
        overflow: hidden;
}


/* Helpers */
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}

.disable-mouse {pointer-events: none;}

.hidden {display: none;}
.invisible {opacity: 0; z-index : -100;}


/*no interaction in columns bug*/
.reveal .slides>section, .reveal .slides>section>section {
	-webkit-transform-style: flat;
	   -moz-transform-style: flat;
	    -ms-transform-style: flat;
	        transform-style: flat;
}
